<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hitam Blogify</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css"
    />
    <style>
      .navbar-custom {
        background-color: #32a852; /* Update this color to match the image background color */
      }
      .navbar-brand img {
        height: 40px; /* Adjust the height as needed */
        margin-right: 10px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-custom" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <strong>HITAM</strong>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <% if (locals.user) { %>
            <li class="nav-item">
              <a class="nav-link" href="/blog/add-new">Add Blog</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Nithin Pasula
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
              </ul>
            </li>
            <% } else {%>
            <li class="nav-item">
              <a class="nav-link" href="/user/signup">Create Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/signin">Signin</a>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>

    <% if (locals.error) { %>
    <div class="container mt-4">
      <div class="alert alert-danger" role="alert"><%= locals.error %></div>
    </div>
    <% } %>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
